extends layout

block layout-content
  div.View
    h1.Banner P99 Boat Tracker
    div.Message
      div.Title
        h1 Overly-complicating
        h3 An unecessary task.
      span.Details Estimated countdown timers for the boat's location and heading.
    div.NavButtons
      a(href="/user")
          div.NavButton Just watch these numbers decrement!
